@import './base.css';

#app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

button {
  color: var(--color-1);
  font-family: Oswald;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: var(--space-16) var(--space-32);
  border-radius: 6px;
  border: none;
}

@media (min-width: 768px) {
}
